.App {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: black;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}
