// body, html {
//   background-image: ;
// }
.hangman-page{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;

}

.hangman-wrapper{
  background-color: rgba(50,46,41, .7);
}

.background-img-0{
  background-image: url('../../../Assets/backgrounds/0.jpg');
}
.background-img-1{
  background-image: url('../../../Assets/backgrounds/1.jpg');
}
.background-img-2{
  background-image: url('../../../Assets/backgrounds/2.jpg');
}
.background-img-3{
  background-image: url('../../../Assets/backgrounds/3.jpg');
}
.background-img-4{
  background-image: url('../../../Assets/backgrounds/4.jpg');
}
.background-img-5{
  background-image: url('../../../Assets/backgrounds/5.jpg');
}
.background-img-6{
  background-image: url('../../../Assets/backgrounds/6.jpg');
}
.background-img-7{
  background-image: url('../../../Assets/backgrounds/7.jpg');
}
.background-img-8{
  background-image: url('../../../Assets/backgrounds/8.jpg');
}
.background-img-9{
  background-image: url('../../../Assets/backgrounds/9.jpg');
}

.hangman-game {
  height: 100vh;
  width: 100vw;
  color: #ebc773;
  white-space: pre;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hangman-status {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90vw;
    font-size: x-large;
  }

  .hangman-text {
    font-size: x-large;
    max-width: 70vw;
  }


  .hangman-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60vw;
    margin-top: 50px;

  }

  @media (min-width: 1023px) {

    .hangman-text {
      font-size: xx-large;
    }
    
  }

  @media (max-width: 580px) {
    .hangman-text {
      font-size: large;
    }
  }
}
