#start-screen{
    position: relative;
    width: 100%;
    height: 100%;

    .logo{
        opacity: .6;
        position: absolute;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        filter: saturate(1.3);
        margin-top: 20px;
        max-height: 80vh;
    }

    .title{
        margin-top: 18vh;
        width: 70vw;
        filter: saturate(2.5);
    }

    .press-any-button{
        position: absolute;
        bottom: 5vh;
        width:600px;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
    }
}

.warning-modal {
    position: fixed;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgba(39, 34, 29, 0.95);
    color: white;
    font-size: 24px;
    border-top: 3px solid #93895d;
    border-bottom: 3px solid #93895d;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    p {
        margin: 20px;
        border-top: 3px solid #93895d;
        border-bottom: 3px solid #93895d;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    z-index: 1;
}